@import url("../../prosilver/theme/stylesheet.css");

.imageset.site_logo {
	background-image: url("./images/yii_logo.png");
	background-repeat: no-repeat;
	width: 81px;
	height: 60px;
}

html, body {
	color: #536482;
	background-color: #eee;
}

.codebox code {
	overflow: visible;
	max-height: none;
}
